/* Font */

body {
    font-family: 'Nunito', sans-serif;
}


/*  */

* {
    overflow-x: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-color: white;
}

.backBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3%;
    left: 3%;
    z-index: 5;
}

.criarContaText {
    width: 100%;
    color: rgba(132, 132, 132, 1);
    position: relative;
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: -1%;
}

.circuloConfetti {
    width: 96px;
    height: 96px;
    background: rgba(67, 164, 235, 0.10000000149011612);
    background-image: url("./imagens/CriarConta.confetti.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 5%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 50%;
}

#nomeInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 1%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}

#emailInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}

#passInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 10%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
    display: inline-block;
}

#viewText {
    position: relative;
    display: inline-block;
    color: #85C1FA;
    font-size: 20px;
    margin-left: -50px;
}

#confPassInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}

.criarContaBtn {
    height: 7%;
    width: 60%;
    border-radius: 32px;
    position: absolute;
    background-color: #44A5EB;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-top: 0%;
    left: 20%;
    box-shadow: 4px 4px 2px rgb(50 50 50 / 50%);
    overflow: hidden;
}

::placeholder {
    width: 54px;
    color: #85C1FA;
    font-weight: bold !important;
    font-size: 20px;
    opacity: 1;
}

#GrauInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}

#numberInput {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}