/* Font */

body {
    font-family: 'Nunito', sans-serif;
}


/* */

* {
    overflow-x: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-color: white;
}

.backBtn {
    position: relative;
    width: 30px;
    height: 30px;
    top: 3%;
    left: 3%;
    z-index: 5;
}

.LoginText {
    width: 100%;
    color: rgba(132, 132, 132, 1);
    position: relative;
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 4%;
}

.circuloLock {
    width: 96px;
    height: 96px;
    background: rgba(67, 164, 235, 0.10000000149011612);
    background-image: url("./imagens/Login.lock.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 7%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 50%;
}

#emailInputEntrar {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 8%;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
}

#passInputEntrar {
    width: 80%;
    height: 100%;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid rgba(92, 174, 249, 1);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    padding-left: 25px;
    display: inline-block;
}

#viewText {
    position: relative;
    display: inline-block;
    color: #85C1FA;
    font-size: 20px;
    margin-left: -50px;
}

::placeholder {
    width: 54px;
    color: #85C1FA !important;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
}

.entrarContaBtn {
    height: 50px;
    width: 60%;
    border-radius: 32px;
    position: relative;
    background-color: #44A5EB;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-bottom: 25px;
    left: 50%;
    margin-top: 3%;
    margin-left: -30%;
    box-shadow: 4px 4px 2px rgb(50 50 50 / 50%);
    overflow: hidden;
}

#NewPass {
    width: 100%;
    position: relative;
    text-align: center;
    float: right;
    color: #84C7F6;
    font-size: 18px;
}